{% extends 'base.html' %}

    {% block title %}
        {{ post.title }}
    {% endblock %}


    {% block content %}

            <a href="{% url 'post_update' pk=post.id %}" class="btn btn-outline-info">Update post</a>

            <a href="{% url 'post_delete' pk=post.id %}" class="btn btn-outline-danger float-right">Delete</a>

        <h1 class="mb-5 mt-5" >{{ post.title }}</h1>
            <p class="date"> Автор: {{ post.author }} | Опубликовано: {{ post.publish }}</p>
                {{ post.body|linebreaks }}
            <p>
                <a href="{% url 'post_share' pk=post.id %}">Поделиться статьей</a>
            </p>

    {% endblock %}

